<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>goForward</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: auto;
            max-width: 960px;
            background-color: #f8f9fa;
            font-size: 16px;
            padding: 20px;
        }

        h2 {
            color: #343a40;
        }

        .table-container {
            overflow-x: auto;
            margin-top: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid #dee2e6;
            padding: 12px;
            text-align: left;
        }

        th {
            background-color: #2181b5;
            color: #fff;
        }

        .but-container {
            display: flex;
            gap: 10px;
            /* 设置按钮之间的间隔 */
        }

        .but {
            display: inline-block;
            width: 32px;
            height: 28px;
            color: white;
            background-color: #28a745;
            border: none;
            padding: 8px 12px;
            cursor: pointer;
            text-decoration-line: none;
            text-align: center;
            line-height: 30px;
        }

        form {
            margin-top: 20px;
        }

        input,
        select,
        button {
            margin-bottom: 10px;
            width: 100%;
            box-sizing: border-box;
            padding: 12px;
        }

        select {
            background-color: #fff;
            border: 1px solid #ced4da;
            border-radius: 4px;
            color: #495057;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #495057;
        }

        .send {
            border: none;
            color: white;
            background-color: #2181b5;
        }
    </style>
</head>

<body>
    <h2>转发列表</h2>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>本地端口</th>
                    <th>远程地址</th>
                    <th>远程端口</th>
                    <th>类型</th>
                    <th>流量</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {{range .forwardList}}
                <tr>
                    <td>{{.Id}}</td>
                    <td>{{.LocalPort}}</td>
                    <td>{{.RemoteAddr}}</td>
                    <td>{{.RemotePort}}</td>
                    <td>{{.Protocol}}</td>
                    <td>{{if gt .TotalGigabyte 0}}{{.TotalGigabyte}}G{{end}}{{.TotalBytes}}</td>
                    <td>
                        <div class="but-container">
                            <a class="but" href="/del/{{.Id}}">删除</a>
                            <a class="but" style="background-color: #{{if eq .Status 0}}d93b3b{{else}}2181b5{{end}};" href="/do/{{.Id}}">{{if eq .Status 0}}停用{{else}}启用{{end}}</a>
                        </div>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>

    <h2>添加转发</h2>
    <form action="/add" method="post" id="addForm">
        <input type="text" name="localPort" placeholder="本地端口" required>
        <input type="text" name="remotePort" placeholder="远程端口" required>
        <input type="text" name="remoteAddr" placeholder="远程地址" required>
        <label for="protocol">类型:</label>
        <select id="protocol" name="protocol" required>
            <option value="tcp">TCP</option>
            <option value="udp">UDP</option>
        </select>
        <input class="send" type="submit" value="添加" />
    </form>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const trafficCells = document.querySelectorAll('td:nth-child(6)'); // 选择所有流量单元格
            trafficCells.forEach(cell => {
                let traffic = cell.textContent.trim();
                let valueInBytes = 0;
                // 检测并转换流量单位
                if (traffic.includes('G')) {
                    let parts = traffic.split('G');
                    valueInBytes = parseFloat(parts[0]) * 1024 * 1024 * 1024; // G部分转换为字节
                    if (parts[1]) {
                        valueInBytes += parseInt(parts[1]); // 加上剩余的字节数
                    }
                } else {
                    valueInBytes = parseInt(traffic); // 全部是字节数
                }
                // 格式化流量显示
                if (valueInBytes >= 1e9) { // 大于等于1GB
                    cell.textContent = (valueInBytes / 1e9).toFixed(2) + ' GB';
                } else if (valueInBytes >= 1e6) { // 大于等于1MB
                    cell.textContent = (valueInBytes / 1e6).toFixed(2) + ' MB';
                } else if (valueInBytes >= 1e3) { // 大于等于1KB
                    cell.textContent = (valueInBytes / 1e3).toFixed(2) + ' KB';
                } else { // 小于1KB
                    cell.textContent = valueInBytes + ' B';
                }
            });
        });
    </script>    
</body>

</html>