<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>goForward</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: auto;
            max-width: 960px;
            background-color: #f8f9fa;
            font-size: 16px;
            padding: 20px;
        }

        h2 {
            color: #343a40;
        }

        .table-container {
            overflow-x: auto;
            margin-top: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid #dee2e6;
            padding: 12px;
            text-align: left;
        }

        th {
            background-color: #2181b5;
            color: #fff;
        }

        .but-container {
            display: flex;
            gap: 10px;
            /* 设置按钮之间的间隔 */
        }

        .but {
            display: inline-block;
            width: 32px;
            height: 28px;
            color: white;
            border: none;
            padding: 8px 12px;
            cursor: pointer;
            text-decoration-line: none;
            text-align: center;
            line-height: 30px;
        }

        /* 新增的样式 */
        .but-delete {
            background-color: #28a745;
        }

        .but-toggle {
            background-color: #2181b5;
        }


        form {
            margin-top: 20px;
        }

        input,
        select,
        button {
            margin-bottom: 10px;
            width: 100%;
            box-sizing: border-box;
            padding: 12px;
        }

        select {
            background-color: #fff;
            border: 1px solid #ced4da;
            border-radius: 4px;
            color: #495057;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #495057;
        }

        .send {
            border: none;
            color: white;
            background-color: #2181b5;
        }
    </style>
</head>

<body>
    <h2>转发列表</h2>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>本地端口</th>
                    <th>远程地址</th>
                    <th>远程端口</th>
                    <th>转发类型</th>
                    <th>统计流量</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {{range .forwardList}}
                <tr>
                    <td>{{.Id}}</td>
                    <td>{{.LocalPort}}</td>
                    <td>{{.RemoteAddr}}</td>
                    <td>{{.RemotePort}}</td>
                    <td>{{.Protocol}}</td>
                    <td>{{if gt .TotalGigabyte 0}}{{.TotalGigabyte}}G{{end}}{{.TotalBytes}}</td>
                    <td>
                        <div class="but-container">
                            <a class="but but-delete" href="/del/{{.Id}}">删除</a>
                            <a class="but but-toggle" href="/do/{{.Id}}">{{if eq .Status 0}}停用{{else}}启用{{end}}</a>
                        </div>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>

    <h2>添加转发</h2>
    <form action="/add" method="post" id="addForm">
        <input type="text" name="localPort" placeholder="本地端口" required>
        <input type="text" name="remotePort" placeholder="远程端口" required>
        <input type="text" name="remoteAddr" placeholder="远程地址" required>
        <label for="protocol">类型:</label>
        <select id="protocol" name="protocol" required>
            <option value="tcp">TCP</option>
            <option value="udp">UDP</option>
        </select>
        <input class="send" type="submit" value="添加" />
    </form>
</body>

</html>